/* --- Mobile Styles --- */
@media (max-width: 650px) {
  .box-container a {
    font-size: 2rem;
  }
  .box-container a:hover {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .App > div {
    height: 85dvh;
    scroll-behavior: smooth;
  }

  .home-page,
  .aboutme-page,
  .projects-page {
    height: 85dvh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  .introduction,
  .box-container,
  .footer,
  .projects,
  .aboutme {
    height: 85dvh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .home-page::-webkit-scrollbar,
  .aboutme-page::-webkit-scrollbar,
  .projects-page::-webkit-scrollbar {
    display: none;
  }

  .introduction {
    font-size: 8dvw;
    line-height: 2.5rem;
    height: 85dvh;
  }
  .smiley {
    font-size: 8dvw;
  }
  .smiley:active {
    transform: rotate(75deg);
    transition: transform 1ms;
  }
  .arrow-down {
    width: 14vw;
    height: 14dvh;
    bottom: 3vh;
  }

  .box-container a {
    font-size: 8dvw;
  }
  .box-container a:hover {
  font-weight: 400;
  scale: 1;
  }

  .box-container a:active{
    scale:1.5;
  }

  .box-container img{
    object-fit: contain;
    height: 60%;
    width: 60%;
  }

  .contact-info ul {
    flex-wrap: wrap;
    margin: 1rem 0;
  }
  .projects h1,
  .aboutme h1 {
    font-size: 12dvw;
  }

  .dropdown-content {
    pointer-events: auto;
  }

  .dropdown-content p {
    font-size: 4vw;
    line-height: 1.2rem;
    max-width: 80vw;
  }

  .dropdown.active .dropdown-content {
    max-width: 95vw !important;
    max-height: 75dvh !important;
  }

  .dropdown::after {
    top: 30px;
    right: 40px;
    font-size: 25px;
    padding: 4px 6px;
  }

  .greyimg {
    width: 100dvw;
    height: 50dvh;
  }

  .github-img {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
  }
  .github-link {
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }

  .aboutme p {
    font-size: 5dvw;
    line-height: 4dvh;
    margin: 2dvh auto 2dvh auto;
    padding: 1rem;
    max-width: 95dvw;
  }

  .aboutgrey {
    max-width: 70dvw;
    height: auto;
  }

  .footer {
    max-height: 11em;
  }
  .socials {
    margin-top: 2dvh;
  }
  .contact-info {
    margin: 2dvh auto 0 auto;
  }

  .loading-screen h1{
  font-size: 12.5dvw;
  margin-bottom: 0;
}

.loading-logo {
  width: 35dvw;
  height: 35dvh;
  margin: 0 auto auto auto;
}
}
