@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #000000ff;
  --secondary: #ffffffff;
}



body {
  background-color: var(--secondary);
  overflow-y: scroll;
  overflow-x:hidden;
  min-width:100%;
}


.navbar {
  border: solid var(--primary) 6px;
  min-width:100%;
  max-height:10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow:hidden;
  position: static;
  background-color: var(--secondary);
}

.navbar a{
  margin:2em;
}

.navbar img{
  width:5em;
  
}

.logo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  transition: 1000ms;
  border:solid black 6px;
  border-radius:10px;
}

.home {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 1000ms;
  border:solid black 6px;
  border-radius:10px;
}

.checklist {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms;
}

.checklist:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
  transition: 500ms;
}

.logo:hover {
  transition: 1000ms;
  rotate: 1260deg;
}

.home:hover {
  transform: scale(1.3);
  transition: 500ms;
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: solid var(--primary) 6px;
  border-left: solid var(--primary) 6px;
  max-width: 100%;
  max-height:50%;
}

.introduction p {
  color: var(--primary);
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  margin-top:2em;
}

.smiley {
  max-width:3rem;
  max-height:3rem;
  transform: rotate(75deg);
  transition: 500ms;
  margin-bottom:2em;
}

.smiley:hover {
  transform: rotate(260deg);
  transition: 500ms;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: solid var(--primary) 6px;
  min-width: 100%;
  min-height: 100%;
}




.box-container a:link {
  text-decoration: none;
  transition: 400ms;
}

.box-container a:hover {
  font-weight: bold;
  font-size: 72px;
  transition: 200ms;
}

.box-container a:active {
  text-decoration: line-through;
}


.box-container a {
  width:100%;
  color: var(--secondary);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 4rem;
}

.box-container img {
  width: 50%;
  height: 50%;
  filter: grayscale(100%);
  border-radius: 50px;
  border: solid var(--primary) 4px;
  background-color: var(--secondary);
  transition: 1000ms;
}

.box-container img:active {
  transform: scale(1.5);
  transition: 1000ms;
}

.black-box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
  min-width: 100%;
  min-height: 100%;
  background: var(--primary);
}

.white-box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
  min-width: 100%;
  min-height: 100%;
  background: var(--secondary);
}

.black-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 2;
  min-width: 100%;
  min-height: 100%;
  background: var(--primary);
}

.white-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 2;
  min-width: 100%;
  min-height: 100%;
  background: var(--secondary);
}

.filler-image {
  display: flex;
  flex-direction: column;
}

.filler-image img {
  width: 100%;
  height: 12em;
  filter: grayscale(100%);
  transition: 500ms;
  object-fit: cover;
  border-bottom: solid var(--secondary) 4px;
}

.filler-image img:hover {
  filter: grayscale(0%);
  transition:500ms;

}


.footer {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 10em;
  background: var(--primary);
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.socials {
  padding-top: 50px;
}

.socials img {
  margin-left:25px;
  margin-right:25px;
  transition: 400ms;
}

.socials img:hover {
  transform: scale(1.3);
  transition: 200ms;
}

.contact-info {
  margin: 50px auto 0 auto;
}

/*Not centre aligned either?*/ 
/* Not flexing properly. Gotta fix */

.contact-info ul {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  list-style: none;
  color: var(--secondary);
  align-items: center;
  justify-content: center;
}

.contact-info li {
  margin: 0 50px;
  transition: 400ms;
}

.contact-info li:hover {
  cursor: default;
  font-weight: bold;
  transform: scale(1.3);
  transition: 200ms;
}

.contact-info a{
  color:inherit;
  text-decoration: none;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.aboutgrey{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition:500ms ease-in;
  max-height:200px;
  width:150px;
  border:6px var(--primary) solid;
  border-radius: 50%;
}

.aboutgrey:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  transition:500ms ease-in;
  max-height:200px;
  width:150px;
  border-radius:2em;
}

.aboutme h1 {
  display: flex;
  color: var(--primary);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 64px;
  text-align: center;
  margin: 60px auto auto;
  transition: 400ms;
  max-width: 75%;
}

.aboutme h1:hover {
  text-decoration: underline;
  cursor: default;
}

.aboutme p {
  display: flex;
  color: var(--primary);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin: 60px auto auto;
  line-height: 60px;  
  border:var(--primary) 4px solid;
  width:75vw;
  padding:2em;
}

.aboutme :last-child {
  margin-bottom: 60px;
}

.transition-fade {
  opacity: 1;
  transition: 750ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: max-content;
}

.dropdown-content {
  position: absolute;
  background-color: var(--primary);
  color: var(--secondary);
  max-width: 800px;
  font-size:1.5em;
  line-height: 1.5em;
  max-height: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.452);
  z-index: 1;
  text-align: center;
  border-radius: 25px;
  transition: all 750ms ease-in;
  pointer-events: none;
}

.dropdown-content p {
  opacity: 0;
  transition: all 750ms ease-in;
}

.dropdown:hover .dropdown-content {
  display: block;
  max-height: 400px;
}

.dropdown:hover .dropdown-content p {
  opacity: 1;
}

.greyimg{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition:1s ease-in;
  border-radius: 4em;
  width:1000px;
  height:600px;
}


.greyimg:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  transition:1s ease-in;
}


@media only screen and (max-width: 410px) {
  .navbar a {
    margin:1em;
  }
  .navbar img{
    width:4em;
  }
  .introduction p{
    font-size:1.5rem;
    margin-top:1em;
  }
  .smiley{
    margin-bottom:1em;
  }
  .smiley:active{
    transform:rotate(260deg);
    transition:50ms;
  }
  .box-container a{
    font-size:1.5rem;
  }
  .filler-image img{
    height:6em;
  }
  .contact-info ul {
    flex-wrap: wrap;
    margin:1rem 0 1rem 0;
  }
}