@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #000000ff;
  --secondary: #ffffffff;
}

body {
  background-color: var(--secondary);
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 100%;
}

.navbar {
  border-top: solid var(--primary) 6px;
  border-bottom: solid var(--primary) 6px;
  min-width: 100%;
  max-height: 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: static;
  background-color: var(--secondary);
}

.navbar a {
  margin: 2em;
}

.navbar img {
  width: 5em;
}

.logo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  transition: 1000ms;
  border: solid black 5px;
  border-radius: 0.5rem;
}

.home {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 1000ms;
  border: solid black 5px;
  border-radius: 0.5rem;
}

.checklist {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms;
}

.checklist:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
  transition: 500ms;
}

.logo:hover {
  transition: 1000ms;
  rotate: 1260deg;
}

.home:hover {
  transform: scale(1.3);
  transition: 500ms;
} */

.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: solid var(--primary) 6px;
  border-left: solid var(--primary) 6px;
  max-width: 100%;
  max-height: 50%;
}

.introduction p {
  color: var(--primary);
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  margin-top: 2em;
}

.smiley {
  max-width: 3rem;
  max-height: 3rem;
  transform: rotate(75deg);
  transition: 500ms;
  margin-bottom: 2em;
}

.smiley:hover {
  transform: rotate(260deg);
  transition: 500ms;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: solid var(--primary) 6px;
  min-width: 100%;
  min-height: 100%;
}

.box-container a:link {
  text-decoration: none;
  transition: 400ms;
}

.box-container a:hover {
  font-weight: bold;
  font-size: 4rem;
  transition: 200ms;
}

.box-container a:active {
  text-decoration: line-through;
}

.box-container a {
  width: 100%;
  color: var(--secondary);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

@media (max-width: 650px) {
  .box-container a {
    font-size: 2rem;
  }
  .box-container a:hover {
    font-size: 2rem;
  }
}

.box-container img {
  width: 50%;
  height: 50%;
  filter: grayscale(100%);
  border-radius: 50px;
  border: solid var(--primary) 4px;
  background-color: var(--secondary);
  transition: 1000ms;
}

.box-container img:active {
  transform: scale(1.5);
  transition: 1000ms;
}

.black-box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
  min-width: 100%;
  min-height: 100%;
  background: var(--primary);
}

.white-box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
  min-width: 100%;
  min-height: 100%;
  background: var(--secondary);
}

.black-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 2;
  min-width: 100%;
  min-height: 100%;
  background: var(--primary);
}

.white-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 2;
  min-width: 100%;
  min-height: 100%;
  background: var(--secondary);
}

.filler-image {
  display: flex;
  flex-direction: column;
}

.filler-image img {
  width: 100%;
  height: 12em;
  filter: grayscale(100%);
  transition: 500ms;
  object-fit: cover;
  border-bottom: solid var(--secondary) 4px;
}

.filler-image img:hover {
  filter: grayscale(0%);
  transition: 500ms;
}

.footer {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-height: 15em;
  background: var(--primary);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.socials {
  margin-top: 3.5rem;
}

.socials img {
  margin-left: 25px;
  margin-right: 25px;
  transition: 400ms;
}

.socials img:hover {
  transform: scale(1.3);
  transition: 200ms;
}

.contact-info {
  margin: 3.5rem auto 0 auto;
}

.contact-info ul {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  list-style: none;
  color: var(--secondary);
  align-items: center;
  justify-content: center;
}

.contact-info li {
  margin: 0 50px;
  transition: 400ms;
}

.contact-info li:hover {
  cursor: default;
  font-weight: bold;
  transform: scale(1.3);
  transition: 200ms;
}

.contact-info a {
  color: inherit;
  text-decoration: none;
}

.aboutme,
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.aboutgrey {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: 500ms ease-out;
  max-width: 25vh;
  max-width: 25vw;
  border: 6px var(--primary) solid;
}

.aboutgrey:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  transition: 500ms ease-in;
  max-height: 200px;
  border-radius: 25%;
}

.aboutme h1,
.projects h1 {
  display: flex;
  color: var(--primary);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  margin-top: 2.5rem;
  transition: 400ms;
  max-width: 100%;
}

.aboutme h1:hover,
.projects h1:hover {
  text-decoration: underline;
  cursor: default;
}

.aboutme p,
.projects p {
  display: flex;
  color: var(--primary);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  margin: 2rem 0 2rem 0;
  line-height: 2.5rem;
  border: var(--primary) 2px solid;
  padding: 1rem;
}

.projects :last-child {
  margin-bottom: 4rem;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
  max-width: max-content;
}

.dropdown-content {
  position: absolute;
  background-color: var(--primary);
  color: var(--secondary);
  max-width: 800px;
  font-size: 1rem;
  line-height: 2.5rem;
  max-height: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.452);
  z-index: 1;
  text-align: center;
  border-radius: 25px;
  transition: all 750ms ease-in;
  pointer-events: none;
}

.github-projects {
  visibility: hidden;
}

.dropdown-content p {
  opacity: 0;
  transition: all 750ms ease-in;
}

.dropdown:hover .dropdown-content {
  display: block;
  max-height: 400px;
}

.dropdown:hover .dropdown-content p {
  opacity: 1;
}

.greyimg {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: 1s ease-in;
  border-radius: 4em;
  max-width: 85vw;
  height: auto;
}

.greyimg:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  transition: 1s ease-in;
}

@media (max-width: 500px) {
  /* .navbar a {
    margin: 1em;
  }
  .navbar img {
    width: 4em;
  } */

  /* .logo {
    transition: all 1000ms ease-in-out;
  }
  .logo:active {
    -webkit-transform: rotate(180deg);
    transform: scale(1.2) rotate(180deg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
    transition: 1ms;
  }
  .checklist {
    transition: all 1000ms ease-in-out;
  }
  .checklist:active {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
    transition: 1ms;
    transform: scale(1.2);
  }
  .home:active {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
    transition: 1ms;
    transform: scale(1.2);
  }
  .home {
    transition: all 1000ms ease-in-out;
  } */
  .introduction {
    height: 15em;
  }
  .introduction p {
    font-size: 1rem;
  }
  .smiley {
    margin-bottom: 1em;
    transition: ease-in-out 500ms;
  }
  .smiley:active {
    transform: rotate(260deg);
    transition: 1ms;
  }
  .smiley:hover {
    transform: none;
    transition: none;
  }
  .box-container {
    height: 15em;
  }
  .box-container a {
    font-size: 1.5rem;
  }
  .box-container a:active {
    font-weight: bold;
  }
  .white-box1 img {
    object-fit: contain;
    height: 75%;
    width: 75%;
  }
  .white-box2 img {
    object-fit: fill;
    height: 75%;
    width: 75%;
  }
  .filler-image img {
    height: 6em;
  }
  .contact-info ul {
    flex-wrap: wrap;
    margin: 1rem 0 1rem 0;
  }
  .projects h1 {
    font-size: 2.5rem;
  }
  .dropdown-content p {
    font-size: 1rem;
    line-height: 1.2rem;
    max-width: 80vw;
  }
  .greyimg {
    width: 90vw;
    height: 40vh;
  }
  .github-projects {
    visibility: visible;
    background-color: var(--primary);
    text-align: center;
  }
  .aboutme h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .aboutme p:last-child {
    margin-bottom: 4rem;
  }
  .aboutgrey:active {
    filter: none;
    -webkit-filter: grayscale(0);
    transition: 100ms ease-in;
    max-height: 200px;
    border-radius: 25%;
  }
  .filler-image {
    border-top: solid var(--primary) 6px;
  }
  .filler-image:active {
    transition: 0ms;
    filter: grayscale(0%);
  }
  .footer {
    max-height: 11em;
  }
  .socials {
    margin-top: 1em;
  }
  .contact-info {
    margin: 1rem auto 0 auto;
  }
}
